.App {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./images/background.png');
  color: white;
  text-align: center;
}

h1 {
  font-family: Cambria;
  font-size: 60px;
}

h2 {
  font-size: 40px;
  font-style: italic;
}

p {
  font-family: Verdana;
  font-size: 25px;
}

img {
  width: 50%;
}

.planet {
  display: flex;
}

.missions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.missions p:first-child {
  font-size: 30px;
  color: blue;
  text-decoration: underline;
}

[ data-testid = 'mission-card' ] {
  border: 1px solid green;
  height: 300px;
  width: 300px;
}

[ data-testid = 'planet-card' ] {
  border: 1px solid red;
  height: 150px;
}
